
version: "3.9"


services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: crm
      POSTGRES_USER: crm
      POSTGRES_PASSWORD: crm
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U crm -d crm"]
      interval: 5s
      timeout: 3s
      retries: 10

  adminer:
    image: adminer:4
    ports:
      - "8082:8080"
    depends_on:
      - db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  api:
    profiles: ["prod"]
    build: 
      context: ./backend
    ports:
      - "8081:8081"
    environment:
      - GIN_MODE=release
      - JWT_SECRET=${JWT_SECRET}
      - DB_DSN=postgres://crm:crm@db:5432/crm?sslmode=disable
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8081/healthz || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s  

  api-dev:
     profiles: ["dev"]
     image: golang:1.22
     working_dir: /app
     volumes:
      - ./:/app
      - go_mod_cache:/go/pkg/mod
     environment:
      - GIN_MODE=debug
      - JWT_SECRET=${JWT_SECRET}
      - DB_DSN=postgres://crm:crm@db:5432/crm?sslmode=disable
     command: >
      sh -c "go mod download &&
             go run ./cmd/api"
     ports:
      - "8081:8081"
     depends_on:
      - db

  frontend:
    profiles: ["prod"]
    build:
      context: ./crm-frontend 
      dockerfile: Dockerfile
    ports:
      - "5173:80"   
    depends_on:
      - api
    environment:
      VITE_API_BASE: http://api:8081  
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5173 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  db_data:
  go_mod_cache:
